In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'prescribers'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [6]:
import numpy as np

In [7]:
import seaborn as sns

In [8]:
question1 = 'SELECT * FROM  overdose_deaths INNER JOIN fips_county ON overdose_deaths.fipscounty = fips_county.fipscounty::int'

In [9]:
with engine.connect() as connection:
    question1 = pd.read_sql(text(question1), con = connection)

**1. Deaths over time.
  a. How has total overdose deaths changed over time?
  b. How have overdose deaths changed over time for Davidson and Shelby counties.
  c. Are there any counties in which overdose deaths are trending downwa**
  rd?

**a. How has total overdose deaths changed over time?**

In [12]:
q1a = question1[['overdose_deaths','year']]

In [13]:
death_over_time = q1a.groupby(['year']).sum('overdose_deaths')

In [14]:
death_over_time = death_over_time.reset_index()

In [15]:
death_over_time

   year  overdose_deaths
0  2015             1033
1  2016             1186
2  2017             1267
3  2018             1304

**b. How have overdose deaths changed over time for Davidson and Shelby counties.**

In [ ]:
question1

In [ ]:
davidson_county = question1.loc[question1.county == 'DAVIDSON']

In [ ]:
davidson_county = davidson_county.reset_index()

In [ ]:
davidson_county = davidson_county.drop(columns = 'state')

In [ ]:
davidson_county = davidson_county.rename(columns = {'overdose_deaths' : 'davidson_overdose_deaths'})

In [ ]:
shelby_county = question1.loc[question1.county =='SHELBY']

In [ ]:
shelby_county = shelby_county.reset_index()

In [ ]:
shelby_county = shelby_county.drop(columns = ['index', 'fipscounty','state','fipsstate'])

In [ ]:
shelby_county = shelby_county.rename(columns = {'overdose_deaths': 'shelby_overdose_deaths', 'year' : 'years'})

In [ ]:
shelby_county

In [ ]:
davidson_shelby = pd.concat([davidson_county, shelby_county], axis=1)

In [ ]:
davidson_shelby

In [ ]:
davidson_shelby = davidson_shelby.drop(columns = 'county')

In [ ]:
davidson_shelby = davidson_shelby.drop(columns = 'year')

In [ ]:
davidson_shelby = davidson_shelby.rename(columns = {'years' : 'year'})

In [ ]:
shelby_county

In [ ]:
davidson_county

In [ ]:
davidson_county

In [ ]:
davidson_shelby.plot(x = 'year')

**c. Are there any counties in which overdose deaths are trending downward?**

In [ ]:
question1c = question1[['overdose_deaths','county','year']]

In [ ]:
question1c.sort_values(by = 'county')

In [ ]:
question1c.groupby('county').describe()

**3. Per Capita
  a. Which county has the highest overdose deaths per capita?
  b. Which county has the most spending overall per capita?
  c. Which county has the most spending on opioids per capi**ta?

**3a. Which county has the highest overdose deaths per capita?**

In [ ]:
question1

In [35]:
question3 = 'SELECT county, SUM(overdose_deaths) AS total_overdose_deaths, population FROM  overdose_deaths INNER JOIN fips_county ON overdose_deaths.fipscounty = fips_county.fipscounty::int INNER JOIN population ON overdose_deaths.fipscounty = population.fipscounty::int GROUP BY county, population ORDER BY total_overdose_deaths DESC'

In [37]:
with engine.connect() as connection:
    question3 = pd.read_sql(text(question3), con = connection)

In [39]:
question3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   county                 95 non-null     object
 1   total_overdose_deaths  95 non-null     int64
 2   population             95 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.4+ KB

In [41]:
question3.population = question3.population.astype('int64')

In [43]:
question3

        county  total_overdose_deaths  population
0     DAVIDSON                    689      678322
1         KNOX                    683      452286
2       SHELBY                    567      937847
3   RUTHERFORD                    205      298456
4     HAMILTON                    191      354589
..         ...                    ...         ...
90     PICKETT                      2        5071
91        DYER                      2       37751
92     HAYWOOD                      2       17944
93       PERRY                      1        7882
94        LAKE                      0        7588

[95 rows x 3 columns]

In [87]:
question3['Overdoses_Per_Capita'] = question3.total_overdose_deaths / question3.population

In [89]:
question3.sort_values(by = 'Overdoses_Per_Capita_per_1000', ascending = False)

,county,total_overdose_deaths,population,Overdoses_Per_Capita,Overdoses_Per_Capita_per_1000
15,CHEATHAM,73,39713,0.001838,1.838189
65,HANCOCK,10,6605,0.001514,1.514005
1,KNOX,683,452286,0.001510,1.510106
14,ROANE,77,52926,0.001455,1.454862
61,CLAY,11,7684,0.001432,1.431546
...,...,...,...,...,...
85,CARROLL,4,28137,0.000142,0.142162
93,PERRY,1,7882,0.000127,0.126871
92,HAYWOOD,2,17944,0.000111,0.111458
91,DYER,2,37751,0.000053,0.052979
94,LAKE,0,7588,0.000000,0.000000

In [105]:
question3.sort_values(by = 'Overdoses_Per_Capita_per_1000', ascending = False).reset_index()

,index,county,total_overdose_deaths,population,Overdoses_Per_Capita,Overdoses_Per_Capita_per_1000
0,15,CHEATHAM,73,39713,0.001838,1.838189
1,65,HANCOCK,10,6605,0.001514,1.514005
2,1,KNOX,683,452286,0.001510,1.510106
3,14,ROANE,77,52926,0.001455,1.454862
4,61,CLAY,11,7684,0.001432,1.431546
...,...,...,...,...,...,...
90,85,CARROLL,4,28137,0.000142,0.142162
91,93,PERRY,1,7882,0.000127,0.126871
92,92,HAYWOOD,2,17944,0.000111,0.111458
93,91,DYER,2,37751,0.000053,0.052979
94,94,LAKE,0,7588,0.000000,0.000000

In [ ]:
sns.scatterplot(data=question3, x="county", y="Overdoses_Per_Capita", hue="county", size="Overdoses_Per_Capita")

In [51]:
question3pop = 'SELECT SUM(total_drug_cost) as total_drug_cost_per_county, county, population FROM prescription INNER JOIN prescriber USING(npi) INNER JOIN zip_fips ON zip_fips.zip = prescriber.nppes_provider_zip5 INNER JOIN population ON zip_fips.fipscounty = population.fipscounty INNER JOIN fips_county ON fips_county.fipscounty = population.fipscounty GROUP BY county,population'

In [53]:
with engine.connect() as connection:
    question3pop = pd.read_sql(text(question3pop), con = connection)

In [55]:
question3pop.population = question3pop.population.astype('int')

In [57]:
question3pop['Drug_Cost_Per_Capita'] = question3pop.total_drug_cost_per_county / question3pop.population

In [111]:
question3pop.sort_values(by ='Drug_Cost_Per_Capita', ascending = False)

    total_drug_cost_per_county      county  population  Drug_Cost_Per_Capita
12                 40885537.73       MOORE        6302           6487.708304
58                 58186128.32     JACKSON       11573           5027.748062
57                 19339093.38   VAN BUREN        5675           3407.769759
10                 14063285.46     PICKETT        5071           2773.276565
34                 60174204.18     OVERTON       21995           2735.812875
..                         ...         ...         ...                   ...
33                 12917772.09      TIPTON       61434            210.270731
56                 32346714.21  MONTGOMERY      192120            168.367240
14                  3846679.98    GRAINGER       22942            167.669775
19                  3787504.46  LAUDERDALE       26497            142.940879
37                   634646.44        LAKE        7588             83.638171

[95 rows x 4 columns]