In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [ ]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [ ]:
database_name = 'prescriptions'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [ ]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [ ]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np

First, let's write a meaningful query.

In [ ]:
query = " SELECT * FROM overdose_deaths INNER JOIN fips_county ON overdose_deaths.fipscounty = fips_county.fipscounty::int"

Now, bring it all together using the following syntax.

In [ ]:
with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(query), con = connection)

overdose_deaths.head()

In [ ]:
overdose_deaths.dtypes

In [ ]:
overdose_deaths.columns

In [ ]:
overdose_deaths.shape

In [ ]:
overdose_deaths.info()

## Deaths over time

 1a. How has total overdose deaths changed over time?

In [ ]:
deaths = overdose_deaths.groupby('year')['overdose_deaths'].sum().reset_index()
deaths

## Trend over time

In [ ]:
deaths['year'] = deaths['year'].astype(int)
plt.figure(figsize=(10, 6))
plt.plot(deaths['year'],deaths['overdose_deaths'], marker='s', color='purple')
plt.xticks(deaths['year'])
plt.title('Total Overdose Deaths Over Time')
plt.xlabel('Year')
plt.ylabel('Total Overdose Deaths')
plt.grid(False);

In [ ]:
deaths['year'] =deaths['year'].astype(str)
f= px.line(deaths, x='year', y='overdose_deaths', 
              title="Total Overdose Deaths Over Time",
              labels={'overdose_deaths': 'Total Overdose Deaths', 'year': 'Year'})
f.update_layout(
    title='Total Overdose Deaths Over Time',
    title_font=dict(size=24, family='Arial', color='purple'),
    xaxis_title='Year',
    yaxis_title='Total Overdose Deaths',
    template='plotly_white',  # Clean white background
    font=dict(family="Arial", size=14,color='purple'),
)
f.show()

 1b. How have overdose deaths changed over time for Davidson and Shelby counties.

In [ ]:
overdose_deaths

In [ ]:
overdose_deaths.loc[overdose_deaths['county']== 'DAVIDSON']

In [ ]:
overdose_deaths.loc[overdose_deaths['county']== 'SHELBY']

## Overdose Deaths Over Time for Davidson and Shelby Counties

In [ ]:
deaths['year'] = deaths['year'].astype(str)
counties = ['DAVIDSON', 'SHELBY']
counties_df = overdose_deaths[overdose_deaths['county'].isin(counties)]

In [ ]:
county_deaths = counties_df.groupby(['year', 'county'])['overdose_deaths'].sum().reset_index()
f = px.line(county_deaths, x='year', y='overdose_deaths', color='county', 
            title="Overdose Deaths Over Time for Davidson and Shelby Counties",
            labels={'overdose_deaths': 'Total Overdose Deaths', 'year': 'Year', 'county': 'County'},
            category_orders={'year': sorted(county_deaths['year'].unique())})

In [ ]:
f.update_layout(
    title='Overdose Deaths Over Time for Davidson and Shelby Counties',
    title_font=dict(size=24, family='Arial', color='purple'),
    xaxis_title='Year',
    yaxis_title='Total Overdose Deaths',
    template='plotly_white',
    font=dict(family="Arial", color='purple', size=14),
    showlegend=True, 
    xaxis=dict(type='category'), 
    yaxis=dict(range=[0, county_deaths['overdose_deaths'].max() * 1.1])  
)
f.show()
f.write_html("counties_df_plot.html")

 1c. Are there any counties in which overdose deaths are trending downward

In [ ]:
county_deaths = overdose_deaths.groupby(['year', 'county'])['overdose_deaths'].sum().reset_index()
county_deaths= county_deaths.sort_values(by =['county','year'])
county_deaths

In [ ]:
query = '''SELECT * FROM prescriber INNER JOIN zip_fips ON prescriber.nppes_provider_zip5 = zip_fips.zip 
           INNER JOIN cbsa ON zip_fips.fipscounty= cbsa.fipscounty
           INNER JOIN fips_county ON  cbsa.fipscounty = fips_county.fipscounty'''

In [ ]:
with engine.connect() as connection:
    prescribers= pd.read_sql(text(query), con = connection)

prescribers.head()

In [ ]:
prescribers.shape

In [ ]:
prescribers.columns

In [ ]:
prescribers_count = prescribers.groupby(['nppes_provider_first_name', 
                                         'nppes_provider_last_org_name']).size().reset_index(name='Total_prescriptions')
top_10_prescribers = prescribers_count.sort_values('Total_prescriptions', ascending=False).head(10)
top_10_prescribers

In [ ]:
prescribers_counts = prescribers.groupby(['npi','nppes_provider_first_name', 
                                         'nppes_provider_last_org_name', 
                                         'county', 'state', 'nppes_provider_zip5']).size().reset_index(name='Total_prescriptions')
top_10_prescriber = prescribers_counts.sort_values('Total_prescriptions', ascending=False).head(10)
top_10_prescriber

 ### Where are the top 10 opioid prescribers located?

In [ ]:
query = '''SELECT COUNT(*) AS Total_Opioid_prescriptions,nppes_provider_city FROM  prescriber 
INNER JOIN prescription USING(npi) 
INNER JOIN drug USING (drug_name) WHERE opioid_drug_flag ='Y' 
GROUP BY nppes_provider_city ORDER BY Total_Opioid_prescriptions DESC LIMIT 10 '''

In [ ]:
with engine.connect() as connection:
    prescribers_cities = pd.read_sql(text(query), con = connection)
prescribers_cities.head()

In [ ]:
import os
directory = r'C:\Users\TitanUp\Downloads'  

if not os.path.exists(directory):
    os.makedirs(directory)

# Save the DataFrame to the new directory
prescribers_cities.to_csv(os.path.join(directory, 'prescribers_cities.csv'), index=False)
print("DataFrame saved as 'prescribers_cities.csv' in", directory)

### 5b. Who is the top prescriber in each county?

In [ ]:
query= '''SELECT COUNT(DISTINCT npi) AS Top_prescriber,county
,CONCAT(nppes_provider_first_name,' ',nppes_provider_last_org_name) AS Name
FROM prescriber
INNER JOIN prescription USING(npi) 
INNER JOIN drug USING (drug_name)
INNER JOIN zip_fips ON prescriber.nppes_provider_zip5 = zip_fips.zip
INNER JOIN cbsa ON zip_fips.fipscounty= cbsa.fipscounty
INNER JOIN fips_county ON  cbsa.fipscounty = fips_county.fipscounty
WHERE opioid_drug_flag ='Y'
GROUP BY county,
nppes_provider_first_name,nppes_provider_last_org_name
ORDER BY Top_prescriber DESC
LIMIT 10'''

In [ ]:
with engine.connect() as connection:
    prescribers_county = pd.read_sql(text(query), con = connection)
prescribers_county.head()

In [ ]:
prescribers_county.head()

In [ ]:
prescribers_county.shape

In [ ]:
import os
directory = r'C:\Users\TitanUp\Downloads'  

if not os.path.exists(directory):
    os.makedirs(directory)
prescribers_county.to_csv(os.path.join(directory, 'prescribers_county.csv'), index=False)
print("DataFrame saved as 'prescribers_cities.csv' in", directory)

In [ ]:
query='''WITH prescriber_counts AS (
SELECT npi,nppes_provider_first_name,
nppes_provider_last_org_name,COUNT(npi) AS opioid_prescribers_count
FROM prescriber
INNER JOIN prescription USING(npi)
INNER JOIN drug USING(drug_name)
WHERE opioid_drug_flag = 'Y'
GROUP BY npi, nppes_provider_first_name,nppes_provider_last_org_name
),
total_prescriptions AS (
SELECT COUNT(*) AS total_opioid_prescriptions
FROM prescription  
INNER JOIN drug USING(drug_name)
WHERE opioid_drug_flag = 'Y'
),
top_prescribers AS (
SELECT npi,opioid_prescribers_count,
RANK() OVER (ORDER BY opioid_prescribers_count DESC) AS rank
FROM prescriber_counts
)
SELECT rank,
SUM(opioid_prescribers_count) AS total_opioid_prescribed_by_top,
(SUM(opioid_prescribers_count) * 1.0 / (SELECT total_opioid_prescriptions FROM total_prescriptions)) AS proportion
FROM top_prescribers
WHERE rank <= 10 
GROUP BY rank'''

In [ ]:
with engine.connect() as connection:
    proportion_ten = pd.read_sql(text(query), con = connection)   ## Nearly one percent of all opioid preacriptions
proportion_ten

In [ ]:
query='''WITH prescriber_counts AS (
SELECT npi,nppes_provider_first_name,
nppes_provider_last_org_name,COUNT(npi) AS opioid_prescribers_count
FROM prescriber
INNER JOIN prescription USING(npi)
INNER JOIN drug USING(drug_name)
WHERE opioid_drug_flag = 'Y'
GROUP BY npi, nppes_provider_first_name,nppes_provider_last_org_name
),
total_prescriptions AS (
SELECT COUNT(*) AS total_opioid_prescriptions
FROM prescription  
INNER JOIN drug USING(drug_name)
WHERE opioid_drug_flag = 'Y'
),
top_prescribers AS (
SELECT npi,opioid_prescribers_count,
RANK() OVER (ORDER BY opioid_prescribers_count DESC) AS rank
FROM prescriber_counts
)
SELECT rank,
SUM(opioid_prescribers_count) AS total_opioid_prescribed_by_top,
(SUM(opioid_prescribers_count) * 1.0 / (SELECT total_opioid_prescriptions FROM total_prescriptions)) AS proportion
FROM top_prescribers
WHERE rank <= 50
GROUP BY rank'''

In [ ]:
with engine.connect() as connection:
    proportion_fifty = pd.read_sql(text(query), con = connection)   ## 2.6 % 
proportion_fifty

In [ ]:
query='''WITH prescriber_counts AS (
SELECT npi,nppes_provider_first_name,
nppes_provider_last_org_name,COUNT(npi) AS opioid_prescribers_count
FROM prescriber
INNER JOIN prescription USING(npi)
INNER JOIN drug USING(drug_name)
WHERE opioid_drug_flag = 'Y'
GROUP BY npi, nppes_provider_first_name,nppes_provider_last_org_name
),
total_prescriptions AS (
SELECT COUNT(*) AS total_opioid_prescriptions
FROM prescription  
INNER JOIN drug USING(drug_name)
WHERE opioid_drug_flag = 'Y'
),
top_prescribers AS (
SELECT npi,opioid_prescribers_count,
RANK() OVER (ORDER BY opioid_prescribers_count DESC) AS rank
FROM prescriber_counts
)
SELECT rank,
SUM(opioid_prescribers_count) AS total_opioid_prescribed_by_top,
(SUM(opioid_prescribers_count) * 1.0 / (SELECT total_opioid_prescriptions FROM total_prescriptions)) AS proportion
FROM top_prescribers
WHERE rank <= 100
GROUP BY rank'''

In [ ]:
with engine.connect() as connection:
    proportion_hundred = pd.read_sql(text(query), con = connection)   ## 5.2 % 
proportion_hundred

In [ ]:
query='''SELECT COUNT(DISTINCT npi)
         FROM prescriber'''

In [ ]:
with engine.connect() as connection:
     total_prescribers = pd.read_sql(text(query), con = connection)   
total_prescribers

####  we have total of 25050 Prescribers

In [ ]:
query ='''SELECT overdose_deaths, total_drug_cost, year, opioid_drug_flag FROM overdose_deaths as od
INNER JOIN zip_fips as zf ON od.fipscounty::int = zf.fipscounty::int 
INNER JOIN prescriber as p1 ON zf.zip = p1.nppes_provider_zip5 INNER JOIN prescription as p2 ON p1.npi = p2.npi 
INNER JOIN drug as d ON p2.drug_name = d.drug_name GROUP BY year, overdose_deaths, total_drug_cost,opioid_drug_flag'''

In [ ]:
with engine.connect() as connection:
    overdose = pd.read_sql(text(query), con = connection)   
overdose

In [ ]:
prescribers_count = prescribers.groupby(['nppes_provider_first_name','nppes_provider_last_org_name',
                                   'county']).size().reset_index(name='Total_prescriptions')
prescribers_count.head()

top_10_prescribers = prescribers_count.sort_values('Total_prescriptions', ascending=False).head(10)
top_10_prescribers

In [ ]:

query ='''SELECT *
FROM overdose_deaths as od
INNER JOIN zip_fips as zf ON od.fipscounty::int = zf.fipscounty::int
INNER JOIN prescriber as p1 ON zf.zip = p1.nppes_provider_zip5
INNER JOIN prescription as p2 ON p1.npi = p2.npi
INNER JOIN drug as d ON p2.drug_name = d.drug_name'''

In [ ]:
with engine.connect() as connection:
    all = pd.read_sql(text(query), con = connection)   
all

In [ ]:
import os
directory = r'C:\Users\TitanUp\Downloads'  

if not os.path.exists(directory):
    os.makedirs(directory)
all.to_csv(os.path.join(directory, 'all.csv'), index=False)
print("DataFrame saved as 'all.csv' in", directory)

In [ ]:
query= '''SELECT 
    o.fipscounty, 
    SUM(o.overdose_deaths) AS total_overdose_deaths,
    MIN(z.zip) AS zipcode 
FROM 
    overdose_deaths AS o
JOIN 
    zip_fips AS z ON o.fipscounty = z.fipscounty::int
GROUP BY 
    o.fipscounty'''

In [ ]:
with engine.connect() as connection:
    a = pd.read_sql(text(query), con = connection)   
a

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python